@inherits UmbracoViewPage<EcVideoSection>
@using JB.Helpers
@{
    EcVideoSection videoSection = Model;

    Html.RequiresCss("~/styles/css/videoSection.css");


    string videoUrl = (videoSection.Video?.Url.NullIfEmpty() ??  videoSection.ExternalVideo).EmptyIfNull();
    string playlist = "";
    if (videoUrl.Length > 0 && videoSection.IsYoutube)
    {
        playlist = videoUrl.Split('/').Last();
    }

}
    <section class="page-section video-section  @videoSection.Container  @(videoSection.IsPageBackground ? "video-page-background": null)">
        @if (videoUrl.Length > 0)
        {
            if (videoSection.IsYoutube)
            {
                <iframe @(!videoSection.IsPageBackground ? "width=560 height=315": null)   src="@(videoUrl)?autoplay=1&mute=1&loop=1&playlist=@playlist" frameborder="0"  allowfullscreen></iframe>
            }
            else
            {
                <video autoplay @(!videoSection.IsPageBackground ? "controls" : null) muted loop>
                    <source src="@videoUrl" type="video/mp4">
                </video>
            }

        }

    </section>

